STAGING_POSTGRES_DB="sistema_lealtad_staging"
STAGING_POSTGRES_USER="lealtad_staging"
STAGING_POSTGRES_PASSWORD=REPLACE_WITH_SECURE_LOCAL_VALUE

STAGING_MINIO_ACCESS_KEY=REPLACE_WITH_SECURE_LOCAL_VALUE
STAGING_MINIO_SECRET_KEY="replace-with-a-long-random-storage-password"
STAGING_MINIO_BUCKET="lealtad-media-staging"

JWT_ACCESS_SECRET=REPLACE_WITH_SECURE_LOCAL_VALUE
JWT_REFRESH_SECRET=REPLACE_WITH_SECURE_LOCAL_VALUE

STAGING_ADMIN_URL="http://localhost:3100"
STAGING_CLIENT_URL="http://localhost:3102"
STAGING_COOKIE_SECURE="false"

STAGING_ADMIN_PORT="3100"
STAGING_CLIENT_PORT="3102"
STAGING_API_PORT="4100"
STAGING_POSTGRES_PORT="55432"
STAGING_MINIO_PORT="9100"
STAGING_MINIO_CONSOLE_PORT="9101"

STAGING_BACKUP_INTERVAL_SECONDS="86400"
STAGING_BACKUP_RETENTION_DAYS="14"
